@model   IEnumerable<MyBookKeeping.Models.BookingsModels>

@{
    string tableCenterAlign = "text-center";
    string tableftAlign = "text-left";
    string tableRightAlign = "text-Right";

}
<div class="col-md-12">
    <table class="table table-bordered table-hover table-responsive">
        <tr>
            <th>#</th>
            <th>類別</th>
            <th>日期</th>
            <th>金額</th>
            <th>備註</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SeqNo</td>
                <td>@item.BookType</td>
                <td>@item.BookDate.ToShortDateString()</td>
                <td>@String.Format("{0:0,0}", item.BookAmount)</td>
                <td>@item.BookMemo</td>
            </tr>
        }
    </table>
</div>
