@model   MyBookKeeping.Models.ViewModels.BookingsViewModels

@{
    ViewBag.Title = "Create";
}

<h2>新增記帳本</h2>
@using (Html.BeginForm())
{
    <div class="well">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(d => d.BookType, htmlAttributes: new { @class = "col-sm-2 col-md-1 col-lg-1 control-label" })
                <div class="col-sm-10 col-md-2 col-lg-2">
                    @Html.DropDownListFor(d => d.BookType, new List<SelectListItem>
                    {
                        new SelectListItem {Text="支出",Value="0" },
                        new SelectListItem {Text="收入",Value="1"}
                     }, "請選擇", new { @class = "form-control" }
                   )
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(d=>d.BookDate,htmlAttributes:new { @class = "col-sm-2 col-md-1 col-lg-1 control-label" })
                <div class="col-sm-10">
                    @Html.EditorFor(d => d.BookDate, new { htmlAttributes=new { @class = "form-control", id = "day", placeholder = "日期" } })
                    @Html.ValidationMessageFor(d=>d.BookDate,"",new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(d => d.BookAmount, htmlAttributes: new { @class = "col-sm-2 col-md-1 col-lg-1 control-label" })
                <div class="col-sm-10 col-md-10 col-lg-10">
                    @Html.EditorFor(d => d.BookAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(d => d.BookAmount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.BookMemo, htmlAttributes: new { @class = "col-sm-2 col-md-1 col-lg-1 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(d => d.BookMemo, new { htmlAttributes = new { @class = "form-control"} })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-1 col-md-1 col-lg-1 col-md-offset-1">
                    <button type="submit" class="btn btn-default">送　出</button>
                </div>
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
